.App {
  text-align: center;
  display: grid;
}

@media (prefers-reduced-motion: no-preference) {
}
.moodForm {
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -webkit-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -moz-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
}
.cardDiv {
 
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -webkit-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -moz-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
}
.textarea {
  font-family: "Neucha", cursive;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
.calendar-container {
  display: flex;
  justify-content: center;
}
.inpuCardContainer {
  
  
  margin-bottom: 50px;
}
.buttonDiv {
  display: grid;
  justify-items: center;
}
.chooseMoodButton {
  font-family: "Neucha", cursive;
  font-size: medium;
  padding: 5px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
  -webkit-box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
  -moz-box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
}
.saveItButton {
  font-family: "Neucha", cursive;
  font-size: large;
  margin-top: 5px;
  border-radius: 8px;
  border-color: #c94c4c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
