.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.calendar-container{
  display: flex;
  justify-content: center;
}
.greenButton:focus{
  background-color: darkgreen;  
}
.redButton:visited{
  background-color: brown;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
