@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  display: grid;
}

@media (prefers-reduced-motion: no-preference) {
}
.moodForm {
  background-image: url("/public/paper.png");
  width: fit-content;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -webkit-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -moz-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
}
.cardDiv {
  background-image: url("/public/paper.png");
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -webkit-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
  -moz-box-shadow: -5px 8px 13px -4px rgba(187, 107, 71, 0.75);
}
.textarea {
  font-family: "Neucha", cursive;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
.calendar-container {
  display: flex;
  justify-content: center;
}
.inpuCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.buttonDiv {
  display: grid;
  justify-items: center;
}
.chooseMoodButton {
  font-family: "Neucha", cursive;
  font-size: medium;
  padding: 5px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
  -webkit-box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
  -moz-box-shadow: -5px 8px 16px -4px rgb(187, 107, 71);
}
.saveItButton {
  font-family: "Neucha", cursive;
  font-size: large;
  margin-top: 5px;
  border-radius: 8px;
  border-color: #c94c4c;
}
.greenButton {
  align-items: center;
  appearance: none;
  background-color: #53895b;
  background-image: linear-gradient(1deg, #52fd4f, #4cf314 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  box-sizing: border-box;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "Neucha", cursive;
  font-size: small;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.greenButton:active,
.greenButton:focus {
  outline: none;
}
.greenButton:hover {
  background-position: -20px -20px;
}
.greenButton:focus:not(:active) {
  box-shadow: rgba(29, 194, 81, 0.25) 0 0 0 0.125em;
}

.yellowButton {
  align-items: center;
  appearance: none;
  background-color: #daec1c;
  background-image: linear-gradient(1deg, #fdfa4f, #eff314 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "Neucha", cursive;
  font-size: small;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.yellowButton:active,
.yellowButton:focus {
  outline: none;
}
.yellowButton:hover {
  background-position: -20px -20px;
}
.yellowButton:focus:not(:active) {
  box-shadow: rgba(183, 194, 29, 0.25) 0 0 0 0.125em;
}

.redButton {
  align-items: center;
  appearance: none;
  background-color: #c94c4c;
  background-image: linear-gradient(1deg, #fd4f4f, #f31414 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "Neucha", cursive;
  font-size: small;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.redButton:active,
.redButton:focus {
  outline: none;
}
.redButton:hover {
  background-position: -20px -20px;
}
.redButton:focus:not(:active) {
  box-shadow: rgba(194, 29, 29, 0.25) 0 0 0 0.125em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
